<ion-view title="Login" hide-nav-bar="true" id="page2" style="background-color:#0895E0;">
  <ion-content padding="false" class="manual-ios-statusbar-padding">
    <form id="login-form1" class="list">
      <div class="spacer" style="width: 320px; height: 115px;"></div>
      <ion-list id="login-list1">
        <label class="item item-input" id="login-input1">
          <input type="email" placeholder="e-mail">
        </label>
        <label class="item item-input" id="login-input2">
          <input type="password" placeholder="Password">
        </label>
      </ion-list>
      <div class="spacer" style="width: 320px; height: 35px;"></div>
      <a ui-sref="page1()" id="login-button1" style="color:#110101;" class="button button-stable button-large button-block">Logar</a>
      <a ui-sref="signup()" id="login-button2" style="font-weight:600;color:#FFFFFF;" class="button button-light button-block button-clear">Ou criar uma conta</a>
    </form>
  </ion-content>
</ion-view>