<ion-view title="Orientação de Higiene Bucal" id="page3" style="background-color:#0895E0;">
  <ion-content padding="true" scroll="false" class="has-header">
    <ion-slides disable-side-menu-drag="" options="{'loop': false}" slider="slider1" delegate-handle="slider1" id="orientaODeHigieneBucal-slider1" style="width:calc(100% + 20px);height:100%;margin-left:-10px;" class="slids">
      <ion-slide-page id="orientaODeHigieneBucal-slide26" style="background-color:#00A6FF;" class="slid01 padding">
        <div class="spacer" style="width: 300px; height: 65px;"></div>
        <div id="orientaODeHigieneBucal-markdown1" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:25px;">Uma das medidas mais importantes para manter seus dentes e gengivas saudáveis é uma boa higiene bucal. Dentes saudáveis não só contribuem para que você tenha uma boa aparência, mas são também importantes para que você possa falar bem e mastigar
            corretamente os alimentos. </p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="orientaODeHigieneBucal-slide25" style="background-color:#00A6FF;" class="padding">
        <div class="spacer" style="height: 65px;"></div>
        <div id="orientaODeHigieneBucal-markdown4" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:25px;">Manter uma boca saudável é importante para o bem-estar geral das pessoas. Os cuidados diários preventivos, tais como uma boa escovação e o uso correto do fio dental, ajudam a evitar que os problemas dentários se tornem mais graves. </p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="orientaODeHigieneBucal-slide213" style="background-color:#00A6FF;" class="padding">
        <div class="spacer" style="height: 65px;"></div>
        <div id="orientaODeHigieneBucal-markdown5" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:25px;">Devemos ter em mente que a prevenção é a maneira mais econômica, menos dolorida e menos preocupante de se cuidar da saúde bucal. Existem algumas medidas muito simples que cada um de nós pode realizar para diminuir significativamente o risco
            do desenvolvimento de cáries, gengivite e outros problemas bucais:</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="orientaODeHigieneBucal-slide21" style="background-color:#00A6FF;" class="padding">
        <div class="spacer" style="height: 65px;"></div>
        <div id="orientaODeHigieneBucal-markdown6" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:25px;">-Escovar bem os dentes e usar o fio dental regularmente; para um melhor resultado, escove seus dentes pelo menos três vezes ao dia, e passe o fio dental pelo menos uma vez ao dia. Isso deve remover a comida e as bactérias presas entre os dentes
            e a linha da gengiva</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="orientaODeHigieneBucal-slide22" style="background-color:#00A6FF;" class="padding">
        <div class="spacer" style="height: 65px;"></div>
        <div id="orientaODeHigieneBucal-markdown7" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:25px;">-Escovar a língua; escovar e passar fio nos dentes geralmente não basta. A língua também é um viveiro de bactérias, células mortas e restos de comida. Use sua escova de dentes para escovar a língua, ou use um limpador de língua.</p>
        </div>
      </ion-slide-page>
      <ion-slide-page id="orientaODeHigieneBucal-slide23" style="background-color:#00A6FF;" class="padding">
        <div class="spacer" style="height: 65px;"></div>
        <div id="orientaODeHigieneBucal-markdown8" class="show-list-numbers-and-dots">
          <p style="color:#FFFFFF;font-size:25px;">-Ingerir alimentos balanceados e evitar comer entre as principais refeições;</p>

          <p style="color:#FFFFFF;font-size:25px;">-Usar produtos de higiene bucal, inclusive creme dental, que contenham flúor; </p>

          <p style="color:#FFFFFF;font-size:25px;">-Visitar regularmente o dentista.</p>
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>