<ion-view title="" hide-nav-bar="true" id="page1" style="background-color:#0895E0;">
  <ion-content padding="true" class="manual-ios-statusbar-padding">
    <div id="page1-button-bar1" class="button-bar"></div>
    <div class="spacer" style="width: 300px; height: 69px;"></div>
    <ion-list id="page1-list8">
      <ion-item class="item-thumbnail-left dark" id="page1-list-item17" ui-sref="orientaODeHigieneBucal()">
        <img src="img/IYrucY4jQYIdsfwdL9p2_higiene-bucal.jpg">
        <h2dark>Higiene Bucal</h2dark>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="page1-list9">
      <ion-item class="item-thumbnail-left" id="page1-list-item21" ui-sref="page()">
        <img src="img/2HR5wwudQxyVgCsyX4ZD_doenca-bucal.jpg">
        <h2>Doenças Bucal</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="page1-list10">
      <ion-item class="item-thumbnail-left" id="page1-list-item22">
        <img src="img/rnb3UM8RrOGB93ReTKhu_fake.jpg">
        <h2>Verdades e Mentiras</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>